---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/742821
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_TRACKER_API_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '4402'
      Etag:
      - '"c0a3faf15610b7078a26239b099a0964"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":742821,"kind":"project","name":"AV: LocalSupport","version":4402,"iteration_length":4,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":true,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"Europe/London","offset":"+01:00"},"velocity_averaged_over":4,"number_of_done_iterations_to_show":12,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":3,"public":true,"atom_enabled":true,"project_type":"public","start_time":"2013-02-25T00:00:00Z","created_at":"2013-01-30T16:49:38Z","updated_at":"2016-05-17T16:26:36Z","account_id":8155,"current_iteration_number":46,"enable_following":true}'
  recorded_at: Mon, 15 Aug 2016 10:45:21 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/742821/stories?with_state=accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_TRACKER_API_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '317'
      X-Tracker-Project-Version:
      - '4402'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Offset:
      - '0'
      Etag:
      - '"d926a22de3a9afdf383d1c2c2d71c48f"'
      X-Tracker-Pagination-Returned:
      - '100'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"kind":"story","id":43946779,"created_at":"2013-02-06T16:49:51Z","updated_at":"2016-03-06T11:10:11Z","accepted_at":"2013-03-01T15:35:31Z","estimate":2,"story_type":"feature","name":"Local
        Resident looking for a support group","description":"As a local resident\nSo
        that I can get support for a specific condition\nI want to find contact details
        for a local service specific to my need\n\nnote that this is currently seen
        as the highest priority feature\nlocal_resident_seeking_support.feature","current_state":"accepted","requested_by_id":8098,"url":"https://www.pivotaltracker.com/story/show/43946779","project_id":742821,"owner_ids":[8098],"labels":[],"owned_by_id":8098},{"kind":"story","id":45693857,"created_at":"2013-03-06T16:43:27Z","updated_at":"2016-03-06T12:29:59Z","accepted_at":"2013-03-08T10:13:01Z","estimate":1,"story_type":"feature","name":"move
        the heroku name to something appropriate","description":"Currently afternoon-tundra-6277.herokuapp.com,
        could be more like harrowlocalsupport.herokuapp.com","current_state":"accepted","requested_by_id":8098,"url":"https://www.pivotaltracker.com/story/show/45693857","project_id":742821,"own[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/742821/stories?limit=100&offset=100&with_state=accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_TRACKER_API_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '317'
      X-Tracker-Project-Version:
      - '4402'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Offset:
      - '100'
      Etag:
      - '"5e5915cec9dad7d1043b5fda7acd44a0"'
      X-Tracker-Pagination-Returned:
      - '100'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '[{"kind":"story","id":62101310,"created_at":"2013-12-07T18:40:04Z","updated_at":"2016-03-07T01:23:02Z","accepted_at":"2014-01-17T12:34:57Z","story_type":"bug","name":"Validate
        organization website field (server side)","description":"if email field lacks
        ''http://'' in the beginning of the url it will break when clicked by user.
        \n\nUsers/admins often miss to input the right format for URL''s. A solution
        would perhaps be to set up a custom validator for that field and append ''http://''\n\nSee:
        http://edgeguides.rubyonrails.org/active_record_validations.html#performing-custom-validations\n\nThis
        was the original submission of this bug: https://www.pivotaltracker.com/story/show/52050353","current_state":"accepted","requested_by_id":1104242,"url":"https://www.pivotaltracker.com/story/show/62101310","project_id":742821,"owner_ids":[1112094],"labels":[],"owned_by_id":1112094},{"kind":"story","id":62389528,"created_at":"2013-12-12T14:31:55Z","updated_at":"2016-03-07T01:37:05Z","accepted_[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/742821/stories?with_state=started
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_TRACKER_API_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '15'
      X-Tracker-Project-Version:
      - '4402[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/742821/stories?with_state=unstarted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_TRACKER_API_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '12'
      X-Tracker-Project-Version:
      - '44[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/742821/stories?with_state=unscheduled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_TRACKER_API_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '237'
      X-Tracker-Project-Version:
      - [...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/742821/stories?limit=100&offset=100&with_state=unscheduled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_TRACKER_API_TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Pagination-Total:
      - '237'
      X-Tracker-Proj[...]
[...]
